/* nesting a anidamiento*/
/*variables*/
header {
  background: #003290;
  width: 100%;
  height: 130px;
  font-family: tahoma;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: stretch;
}
header div a img {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 20px;
  width: 80px;
  width: 80px;
}
header div a img:hover {
  transition-property: all;
  transition-duration: 1s;
  width: 90px;
}

.footer {
  background: #003290;
  width: 100%;
  height: 80px;
  display: flex;
  /*alineamos los elementos de forma horizontal*/
  justify-content: space-around;
  /*alineamos los elemnetos de forma vertival*/
  align-items: center;
}
.footer .logoFooter {
  margin-left: 30px;
  font-family: tahoma;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
}
.footer .logoFooter .imagenFooter {
  width: 60px;
  height: 69px;
}
.footer .iconosRedes {
  justify-content: center;
}
.footer .iconosRedes .iconosFooter {
  margin-left: 10px;
  margin-right: 0px;
  width: 40px;
}

/*variables*/
.nav {
  position: sticky;
  top: 0px;
  z-index: 10;
}
.nav .navBarMenu {
  width: 100%;
  font-size: large;
  display: flex;
  align-items: flex-start;
}
.nav .navBarMenu .navMenu {
  width: 100%;
  height: 100%;
  background: #02236D;
  display: inline-flex;
  font-weight: bold;
}
.nav .navBarMenu .navMenu .collapse .navbar-nav .nav-item .nav-link {
  font-style: #02236D;
}
.nav .navBarMenu .navMenu .collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #f39608;
}
.nav .navBarMenu .navMenu .collapse .navbar-nav .actual {
  background-color: #f39608;
}

/*variables*/
/*Mapas*/
/*extends*/
.main {
  justify-content: center;
  text-align: center;
}

.main {
  background-color: #e5e8f0;
}
.main .tituloMain {
  font-family: tahoma;
  font-size: 20px;
  color: #003290;
  margin: 20px;
}
.main .noticias {
  /*******media queris**********/
  /*mobile*/
  /*tablet*/
}
.main .noticias .noticia .cardsNoticia {
  width: 30%;
  margin: 10px;
  display: inline-flex;
}
.main .noticias .noticia .cardsNoticia:hover {
  opacity: 0.7;
}
.main .noticias .noticia .cardsNoticia .conNoticia {
  color: white;
  cursor: pointer;
}
@media (max-width: 450px) {
  .main .noticias .card-title {
    font-size: small;
  }
  .main .noticias .card-text {
    display: none !important;
  }
}
@media (max-width: 450px) {
  .main .noticias .card-title {
    font-size: small;
  }
  .main .noticias .card-text {
    display: none !important;
  }
}
.main .calendarioEventos {
  /*mobile*/
  /*tablet*/
}
.main .calendarioEventos .tituloMain-1 {
  font-family: tahoma;
  font-size: 20px;
  color: black;
  margin: 30px;
}
.main .calendarioEventos .proximoEvento {
  margin: 20px;
  display: inline-flex;
  cursor: pointer;
  height: 250px;
  width: 250px;
}
.main .calendarioEventos .calendarioEventos {
  margin: 20px;
  display: inline-flex;
  cursor: pointer;
  height: 250px;
  width: 250px;
}
@media (max-width: 450px) {
  .main .calendarioEventos .estrella {
    height: 14px;
  }
}
@media (max-width: 450px) {
  .main .calendarioEventos .estrella {
    height: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
