@charset "UTF-8";
.disclaimer{
  display: none;
}
/* nesting a anidamiento*/
/*variables*/
header {
  background: #003290;
  width: 100%;
  height: 130px;
  font-family: tahoma;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: stretch;
}
header div a img {
  margin-top: 20px;
  width: 80px;
  width: 80px;
}
header div a img:hover {
  transition-property: all;
  transition-duration: 1s;
  width: 90px;
}

/*variables*/
.footer {
  background: #003290;
  width: 100%;
  height: 80px;
  display: flex;
  /*alineamos los elementos de forma horizontal*/
  justify-content: space-around;
  /*alineamos los elemnetos de forma vertival*/
  align-items: center;
}
.footer .logoFooter {
  margin-left: 30px;
  font-family: tahoma;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
}
.footer .logoFooter .imagenFooter {
  width: 60px;
  height: 69px;
}
.footer .iconosRedes {
  justify-content: center;
}
.footer .iconosRedes .iconosFooter {
  margin-left: 10px;
  margin-right: 0px;
  width: 40px;
}
.footer .iconosRedes .iconosFooter:hover {
  color: #f39608;
  background-color: #f39608;
  padding: 3px;
  border-radius: 50%;
}

/*variables*/
.nav {
  position: sticky;
  top: 0px;
  z-index: 10;
}
.nav .navBarMenu {
  width: 100%;
  font-size: large;
  display: flex;
  align-items: flex-start;
}
.nav .navBarMenu .navMenu {
  width: 100%;
  height: 100%;
  background: #02236D;
  display: inline-flex;
  font-weight: bold;
}
.nav .navBarMenu .navMenu .collapse .navbar-nav .nav-item .nav-link {
  font-style: #02236D;
}
.nav .navBarMenu .navMenu .collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #f39608;
}
.nav .navBarMenu .navMenu .collapse .navbar-nav .actual {
  background-color: #f39608;
}

/*variables*/
/*Mapas*/
/*extends*/
.main {
  justify-content: center;
  text-align: center;
}

.main {
  background-color: #e5e8f0;
}
.main .tituloMain {
  font-family: tahoma;
  font-size: 20px;
  color: #003290;
  margin: 20px;
}
.main .noticias {
  /*******media queris**********/
  /*mobile*/
  /*tablet*/
}
.main .noticias .noticia .cardsNoticia {
  width: 30%;
  margin: 10px;
  display: inline-flex;
}
.main .noticias .noticia .cardsNoticia:hover {
  opacity: 0.7;
}
.main .noticias .noticia .cardsNoticia .conNoticia {
  color: white;
  cursor: pointer;
}
@media (max-width: 450px) {
  .main .noticias .card-title {
    font-size: small;
  }
  .main .noticias .card-text {
    display: none !important;
  }
}
@media (max-width: 450px) {
  .main .noticias .card-title {
    font-size: small;
  }
  .main .noticias .card-text {
    display: none !important;
  }
}
.main .calendarioEventos {
  /*mobile*/
  /*tablet*/
}
.main .calendarioEventos .tituloMain-1 {
  font-family: tahoma;
  font-size: 20px;
  color: black;
  margin: 30px;
}
.main .calendarioEventos .proximoEvento {
  margin: 20px;
  display: inline-flex;
  cursor: pointer;
  height: 250px;
  width: 250px;
}
.main .calendarioEventos .calendarioEventos {
  margin: 20px;
  display: inline-flex;
  cursor: pointer;
  height: 250px;
  width: 250px;
}
@media (max-width: 450px) {
  .main .calendarioEventos .estrella {
    height: 14px;
  }
}
@media (max-width: 450px) {
  .main .calendarioEventos .estrella {
    height: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
}

/*variables*/
/*Mapas*/
/*extends*/
.main {
  justify-content: center;
  text-align: center;
}

.main {
  background-color: #e5e8f0;
  /*******media queris**********/
  /*tablet*/
  /*mobile*/
}
.main .tituloMain {
  font-family: tahoma;
  font-size: 20px;
  color: #003290;
  margin: 20px;
}
.main .redesContacto {
  width: 50px;
  margin: 30px;
}
.main .redesContacto:hover {
  transition-property: all;
  transition-duration: 1s;
  width: 60px;
}
.main .mensaje {
  display: flex;
  justify-content: center;
}
.main .mensaje .formMsj {
  width: 60%;
  height: 20%;
  border: solid 1px black;
  padding: 10px;
  background: #f39608;
}
.main .mensaje .formMsj .btnEnviar {
  background: #02236D;
}
.main .mapamapa .mapa {
  width: 60%;
  height: 100%;
}
.main .contactoUbicacion {
  height: 40%;
  width: 60%;
  background-color: #282940;
  margin-left: auto;
  margin-right: auto;
}
.main .contenidoUbicacion {
  color: white;
  font-family: arial;
  padding: 15px;
}
@media (max-width: 450px) {
  .main .estrella {
    height: 14px;
  }
}
@media (max-width: 450px) {
  .main .estrella {
    width: 300px;
  }
}

/*variables*/
/*Mapas*/
/*extends*/
.main {
  justify-content: center;
  text-align: center;
}

.main {
  background-color: #e5e8f0;
}
.main .tituloMain {
  font-family: tahoma;
  font-size: 20px;
  color: #003290;
  margin: 20px;
}
.main .wallpaper .wallpaperInstitucion {
  width: 100%;
  opacity: 0.8;
}
.main .sectionDeportes {
  display: flex;
  justify-content: center;
}
.main .sectionDeportes .deportes {
  width: 80%;
  margin: 15px;
  justify-content: center;
  cursor: pointer;
}
.main .sectionDeportes:hover {
  opacity: 0.7;
  cursor: pointer;
}
.main .seccionHistoria {
  padding: 30px;
}
.main .seccionDirectivos .tituloDirectivos {
  color: #1C1E36;
  font-size: 24px;
  font-family: tahoma;
}
.main .seccionDirectivos .directivos .imagenesDirectivos {
  width: 300px;
}

/*variables*/
/*Mapas*/
/*extends*/
.main {
  justify-content: center;
  text-align: center;
}

.main {
  background-color: #e5e8f0;
}
.main .tituloMain {
  font-family: tahoma;
  font-size: 20px;
  color: #003290;
  margin: 20px;
}
.main .dropdownPadre {
  display: flex;
  padding-left: 30px;
}
.main .dropdownPadre .dropdown .dropdown-toggle {
  background-color: #003290;
}
.main .dropdownPadre .dropdown .dropdown-toggle:hover {
  background-color: #003290;
}
.main .dropdownPadre .dropdown-menu .dropdown-item:hover {
  background-color: #003290;
  color: white;
}
.main .multimediaImagenes {
  /*******media queris**********/
  /*tablet*/
  /*mobile*/
}
.main .multimediaImagenes .carruselImagenes .imagenesMultimedia {
  width: 300px;
  cursor: pointer;
}
.main .multimediaImagenes .carruselImagenes .imagenesMultimedia:hover {
  opacity: 0.7;
  animation: changeWidth 3s;
}
@media (max-width: 450px) {
  .main .multimediaImagenes .puntos {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .main .multimediaImagenes .puntos {
    width: 300px;
  }
}
.main .multimediaVideos {
  /*******media queris**********/
  /*tablet*/
  /*mobile*/
}
.main .multimediaVideos .videosMultimedia {
  height: 220px;
}
.main .multimediaVideos .videosMultimedia:hover {
  opacity: 0.7;
}
@media (max-width: 450px) {
  .main .multimediaVideos .puntos {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .main .multimediaVideos .puntos {
    width: 300px;
  }
}

/*variables*/
/*Mapas*/
/*extends*/
.main {
  justify-content: center;
  text-align: center;
}

.main {
  background-color: #e5e8f0;
}
.main .tituloMain {
  font-family: tahoma;
  font-size: 20px;
  color: #003290;
  margin: 20px;
}
.main .wallpaper .wallpaperSocios {
  width: 100%;
  opacity: 0.8;
}
.main .seccionInformacioSocio .ulSocios {
  padding: 30px;
}
.main .seccionInformacioSocio .ulSocios .liSocios::before {
  content: "♥";
  color: #f39608;
}
.main .horarios .horariosSocios {
  height: 40%;
  width: 60%;
  background-color: #282940;
  margin-left: auto;
  margin-right: auto;
}
.main .horarios .horariosSocios .tituoHorarios {
  padding-top: 15px;
  color: #f39608;
  font-family: verdana;
}
.main .horarios .horariosSocios .contenidoHorarios {
  color: white;
  font-family: arial;
  padding: 15px;
}
.main .registrarse {
  align-content: center;
}
.main .registrarse .registraseSocio {
  height: 40%;
  width: 60%;
  background-color: #f39608;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.main .socioInfo {
  align-content: center;
}
.main .socioInfo .socioInformacion {
  height: 40%;
  width: 60%;
  background-color: #f39608;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
